.frame {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  border: 10px solid #000000eb;
  border-style: double;
  background: #8c45453f;
  margin: auto;
  padding: 15px 10px;
}

.date {
  padding: 5px 0px 0px 20px;
}

.content {
  text-align: center;
  padding-top: 70px;
}

.headline {
  font-family: Copperplate;
  font-size: 75px;
  text-decoration: double underline;
  text-decoration-thickness: 2px;
}

.faceValue {
  font-size: 30px;
  padding-top: 30px;
}

.duration {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
}
.issuer {
}

.bondholder {
}
