/*i gave every item an own style even though it repeats itself*/
.frame {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  border: 10px solid #000000eb;
  border-style: double;
  background: #8c45453f;
  margin: auto;
  padding: 15px 10px;
}

.date {
  padding: 5px 0px 0px 20px;
}

.content {
  text-align: center;
  padding-top: 70px;
}

.headline {
  font-family: Copperplate;
  font-size: 75px;
  text-decoration: double underline;
  text-decoration-thickness: 2px;
}

.faceValue {
  font-size: 30px;
}

.duration {
  font-size: 30px;
}

.interestRate {
  font-size: 30px;
}

.paymentFrequency {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.buttons {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.button-signContract {
  font-size: 2em;
  padding: 10px 20px;
  background-color: rgb(67, 34, 34);
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 120mm;
}

.button-payInterestRate {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: rgb(67, 34, 34);
  color: white;
  border-radius: 5px;
  border: none;
}

.button-withdraw {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: rgb(67, 34, 34);
  color: white;
  border-radius: 5px;
  border: none;
}
